<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>구매List_메인홈</title>
    <script src="/public/js/index.js" defer></script>
    <!-- 구글폰트 Single Day -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@500&family=Single+Day&display=swap"
      rel="stylesheet"
    />
    <!-- 구글폰트 Noto Sans Korean -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@500&family=Single+Day&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/my_reset.css" />
    <link rel="stylesheet" href="/public/css/common.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <main class="main">
      <h2>
        버릴 수 없는 <br />
        구매욕구
      </h2>

      <div class="date">
        <button class="btn prev"></button>
        <span class="dateList"></span>
        <button class="btn next"></button>
      </div>
      <ul class="listCon">
        <li class="list">
          <a href="/write"
            ><img src="/public/img/Plus.svg" alt="plus" />
            <span>추가하기</span></a
          >
        </li>

        <% for(let i = 0 ; i < post.length; i++){%>
        <li class="list list2" data-dayinfo="<%=  %>">
          <a href="/detail/<%=post[i]._id%>"></a>

          <span><%= post[i].name%></span>
          <img src="/public/img/crystal.svg" alt="crystal" />
        </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
